Source: deepin-wallpapers-11.05
Section: admin
Priority: optional
Maintainer: Wang Mingdong <wangmingdong@linuxdeepin.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2

Package: deepin-wallpapers-11.05
Architecture: all
Depends: ${misc:Depends}
Description: Wallpapers for Linux Deepin 11.05 Special Edition
 Some nice wallpapers for Linux Deepin
